@{
    Layout = "~/Views/Books/_FilteredBooksList.cshtml";
}
<div class="cart-item">
    <div>
        <ul>
            <li class="cart-item"> Sorry, there is no any book!</li>
        </ul>
    </div>
</div>

