@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="cart">
    <ul>
        <li class="cart-item" style="color: red">Sorry, the action has been finished unsuccessfully!</li>
    </ul>
</div>
