@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="cart">
    <div class="cart-item">
        <div>
            <input type="button" value="Create Category"
                   class="top-button-create-book" onclick="location.href='@Url.Action("Create", "Category")'" />
        </div>
    </div>
    <ul>
        <li class="cart-item"> Sorry, there is no any category!</li>
    </ul>
</div>

