@model IEnumerable<KeyValuePair<string, int>>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="cart">
    <table class="report">
        <tr class="report-header">
            <th> Category Name </th>
            <th> Books Amount</th>
        </tr>
        @foreach (var value in Model)
        {
            <tr>
                <th> @value.Key</th>
                <th> @value.Value</th>
            </tr>
        }
    </table>
</div>
