<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conn"
         connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\MaximAndEugenia\Documents\Visual Studio 2013\Projects\LibraryAPI\Library.API\App_Data\LibraryDB.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>